//
//  Production.xcconfig
//  exmo-ios-client
//
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SERVER_API_GLOBAL   = 193.228.52.26:45667
SERVER_API_LOCAL    = $(SERVER_API_GLOBAL)
SOCKET_PROTOCOL     = https
ADMOB_API_KEY       = ca-app-pub-3940256099942544/2934735716
