//
//  Production.xcconfig
//  exmo-ios-client
//
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME            = ExmoTrader
SERVER_API_GLOBAL   = wss:/$()/185.236.77.126:10443
SERVER_API_LOCAL    = $(SERVER_API_GLOBAL)
ADMOB_API_KEY       = ca-app-pub-8812594805682284~6167314108
